:root {
  --midnightgreen: #114b5f;
  --queenblue: #456990;
  --metallicseaweed: #028090;
  --fieryrose: #f45b69;
  --platinum: #e9e3e6;
  --nyanza: #e4fde1;
}

body {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--queenblue);
}

#sidebar {
  width: 20%;
  top: 60px;
  background-color: var(--midnightgreen);
}

#usernamedisplay {
  text-align: center;
  margin-right: 50px;
  color: white;
}

.active {
  background-color: var(--metallicseaweed) !important;
  color: white;
}

.active:hover {
  background-color: var(--platinum) !important;
  color: var(--fieryrose) !important;
  text-decoration: none;
}

.sidenavbutton {
  color: var(--platinum);
}

.sidenavbutton:hover {
  background-color: var(--platinum) !important;
  color: var(--fieryrose) !important;
  text-decoration: none;
}

.topnav {
  background-color: var(--queenblue) !important;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a:hover {
  color: var(--fieryrose);
}

#tablecontainer {
  margin-top: 5%;
  margin-left: 30%;
  max-width: 60%;
}

.tableheadrow {
  background-color: var(--platinum);
}

.addbutton:hover {
  background-color: var(--midnightgreen);
  color: var(--fieryrose);
}

.addbutton {
  background-color: var(--metallicseaweed);
  color: white;
  min-width: 80px;
}

.logoutbutton {
  width: 140px;
}

.icon {
  max-width: 15px;
}

#loginsection {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline-item-15 {
  margin-right: 15px;
}

.form-inline-item-30 {
  margin-right: 30px;
}

#tablecategoryform {
  margin-bottom: 20px;
}

#logo {
  height: 40px;
}
